/* ==========================================================================
   Style globalne i podstawowe tagi
   ========================================================================== */
html {
    overflow-y: scroll; /* Zapobiega przeskokowi układu */
}

body {
    overflow-x: hidden; 
    font-family: 'Century Gothic', sans-serif;
}

a {
    color: var(--bs-white);
    text-decoration: none;
}

a:hover {
    color: var(--bs-gray-500); 
}